.budget-info-container {
  margin: 0 0 0 40px; /* Marge à gauche */
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alignement à gauche */
  text-align: left;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-left: 60px;
  
}

/* Tous les éléments sont alignés sur une seule ligne */
.poste-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
 
}

.budget-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 160px;
  text-align: center;
}

.btn-charger {
  padding: 10px 20px;
  background-color: #0073A8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 768px) {
  .poste-form {
    flex-direction: column;
    align-items: center;
  }

  .budget-input,
  .btn-charger {
    width: 100%;
    max-width: 250px;
  }
}
